

  <div class="container informacion">
  
      <div class="text-center">
        <img class="saturado zoom" src=@ViewBag.InfoPelicula.Foto  width="auto" height="160px"> 
      </div>
  
        <h1 class="marroncito text-center display-1">@ViewBag.InfoPelicula.Nombre</h1>
        <h2 class="marroncito text-center">Continente: @ViewBag.InfoPelicula.Director</h2>
        <h2 class="marroncito text-center">Copas ganadas: @ViewBag.InfoPelicula.PersonajePrincipal</h2>
    