@{
    ViewData["Title"] = "Home Page";

    <div class="container pt-5">
        <div class="contenedor border">
        <img src="@ViewBag.PeliExito.Foto" class="sombra" height="520px" width="auto" class="pt-5">
        <h1 class="titulo ">@ViewBag.PeliExito.Nombre</h1>  @*hacer grid*@
        <p class="pt-5 sinopsis">@ViewBag.PeliExito.Sinopsis</p>   
        </div>  
        
   </div>
}


