html {
  font-size: 14px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/Imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}

.titulo{
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 15px;
}

.sinopsis{
  display:inline-block;
  position: absolute;
  vertical-align: middle;
  text-align: left;


}

p, h1{
  color: white;
}

nav{
  background-image: url("/Imagenes/fondo.png");
}

.sombra{
  box-shadow: 0px 5px 50px black;
}

.contenedor{
  height: 525px ;

}


.sd{
  text-decoration: none;
}

.nomCards{
  text-align: center;
  display: inline-block;
  width: 100%;
  color: black;
}

.informacion{
  width: 600px;
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: fuente;
  src: url('/fuente.ttf') format('truetype');
}

.titulos{
  font-family: fuente;
  font-size: 42px;
}




