html {
  font-size: 14px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

 
}

html {
  position: relative;
  min-height: 100%;
}

body, nav {
  margin-bottom: 60px;
  background-image: url("/Imagenes/fondo2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.titulo{
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 15px;
}

.sinopsis{
  display:inline-block;
  position: absolute;
  vertical-align: middle;
  text-align: left;


}

h1{
  color: white;
}


.sombra{
  box-shadow: 0px 5px 50px black;
}

.contenedor{
  height: 525px ;

}


.sd{
  text-decoration: none;
}

.nomCards{
  text-align: center;
  display: inline-block;
  width: 100%;
  color: black;
  /* background-color: cadetblue; */
}

.informacion{
  width: 600px;
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: fuente;
  src: url('/newcomictitle.ttf') format('truetype');
}

.titulos{
  font-family: fuente;
  font-size: 55px;
}

.blanco{
  color: white;
}


@font-face {
  font-family: fuente2;
  src: url('/fuente2.ttf') format('truetype');
}

h3,.letra{
  font-family: fuente2;
}

@font-face {
  font-family: fuente3;
  src: url('/fuente3.otf') format('truetype');
}

/* p{
  font-family: fuente3;
  font-size: 18px;
} */





.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  
}

/* The Close Button */
.close,.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  
}

.modal-header{
  text-align: center;
}


.redondeado2{
  border-radius: 20px;
  
}

.aaaaa
{

 
  background-color: transparent;
  

  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}


.redon{
  -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
}

.redondeado3{
  border-radius: 7px;
}


select {
  background: white;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 125px;
}

.inp{
  height: 33px;
  color:white;
  background-color:indigo ;
  
}

.cont{
  float: right;
}

option,select,.inp{
  font-family:cursive;
  border-radius: 7px;
}

.busqueda{
  display: inline-block;
  vertical-align: top;
  position: relative;
}


.linea{
  width:70%;
  text-align:left;
  margin-left:0;
  display: inline-block;
  float: right;
  position: relative;
}

.line2{
  height:2px;border-width:0;color:white;background-color:white;
  width: 100%; 
}

.contFormComnt textarea {
  width: 100%;
  height: 78px;
  border: 1px solid #bbc8d5;
}


.lineaReseña{
  width: 70%;
}

.nombre{
  font-size: large;
}






.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 420px; 
  height: auto;
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  width: 420px;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 30px;
  height: auto;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
 
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}



















.button1 {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #fefefe;
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
 }
 
 .button1:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
 }
 
 .button1 span {
  position: absolute;
 }
 
 .button1 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 .button1:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 .button1 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 .button1:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 .button1 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 .button1:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 .button1 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 .button1:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 .button1:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 .button1:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }

 .boton{
  background-color: white;
 }



.botonRes{
  width: 40px;
  height: 40px;
  border-radius: 15px;
}





