html {
  font-size: 14px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/Imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}

.titulo{
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 15px;
}

.sinopsis{
  display:inline-block;
  position: absolute;
  vertical-align: middle;
  text-align: left;


}

h1{
  color: white;
}

nav{
  background-image: url("/Imagenes/fondo.png");
}

.sombra{
  box-shadow: 0px 5px 50px black;
}

.contenedor{
  height: 525px ;

}


.sd{
  text-decoration: none;
}

.nomCards{
  text-align: center;
  display: inline-block;
  width: 100%;
  color: black;
}

.informacion{
  width: 600px;
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: fuente;
  src: url('/fuente.ttf') format('truetype');
}

.titulos{
  font-family: fuente;
  font-size: 42px;
}

.blanco{
  color: white;
}


@font-face {
  font-family: fuente2;
  src: url('/fuente2.ttf') format('truetype');
}

h3{
  font-family: fuente2;
}

@font-face {
  font-family: fuente3;
  src: url('/fuente3.otf') format('truetype');
}

p{
  font-family: fuente3;
  font-size: 18px;
}





.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  
}

.modal-header{
  text-align: center;
}
